<footer id="footer" class="footer-1">
<div class="main-footer widgets-dark typo-light">
<div class="container">
<div class="row">

<div class="col-xs-12 col-sm-6 col-md-3">
<div class="widget subscribe no-box">
<h5 class="widget-title">BLOG<span></span></h5>
<p>Ceci est un blog realisé a l'aide de ruby on rails</p>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3">
<div class="widget no-box">
<h5 class="widget-title">Quick Links<span></span></h5>
<ul class="thumbnail-widget">

  <li>
    <div class="thumb-content"><%= link_to "Aide", aide_path %> </div>
  </li>
  <li>
    <div class="thumb-content"><%= link_to "Contact", contact_path %> </div>
  </li>
</ul>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3">
<div class="widget no-box">
<h5 class="widget-title">RUBY ON RAILS <span></span></h5>
<p>Ceci est une template d'un footer.</p>
<a class="btn" href="#." target="_blank">Nill Button</a>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3">

<div class="widget no-box">
<h5 class="widget-title">Contact Us<span></span></h5>

<p><a href="mailto:info@domain.com" title="glorythemes"> ensa-kenitra@uit.ac.ma</a></p>
</div>
</div>

</div>
</div>
</div>

<div class="footer-copyright">
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<p>Ecole Nationale Des Sciences Appliquées © 2020. All rights reserved.</p>
</div>
</div>
</div>
</div>
</footer>
